h2.heading__title {
  font-size: 60px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}
p.heading__text.p__color {
  margin-bottom: 0;
  text-align: center;
  line-height: 1.2;
}
.service__box {
  border-radius: 10px;
  width: 100%;
  background: #191919;
  padding: 55px;
  transition: all 0.4s ease-in-out;
}
.service__box:hover {
  transform: translateY(5px);
  background: linear-gradient(90deg, #f61b10, #ef0963);
}
.service__box:hover .icon svg {
  color: #fff;
}
.service__box:hover p.service__text.p__color {
  color: #fff;
}
.icon {
  font-size: 54px;
  font-weight: 400;
  margin-bottom: 23px;
  display: inline-flex;
}
.icon svg {
  color: #f9004d;
}
p.service__text.p__color {
  margin-bottom: 0;
}
h2.service__text {
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  padding: 10px 0;
}
/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
  .service__box {
    padding: 32px;
  }
}
